<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Site-PostgreSQL</title>
  <link rel="stylesheet" href="../scss/global.css">
  <link rel="stylesheet" href="../scss/playbills.css">
  <link rel="stylesheet" href="../scss/timetable.css">
</head>

<body>
  <header class="header">
    <div class="header__container">
      <ul class="header__menu">
        <li><a href="/">Новости</a></li>
        <li><a href="/playbills">Афиши</a></li>
        <li><a href="/timetable">Расписание</a></li>
      </ul>
    </div>
  </header>
  <main class="content">
    <div class="content__container">
      <section class="content__schedules">
        <% schedules.forEach(function(scheduleItem) { %>
          <div id="<%= scheduleItem.id %>" class="schedule__block">
            <div class="schedule__title">
              <h2><%= scheduleItem.group %></h2>
            </div>
            <div class="schedule__time">
              <span><%= scheduleItem.starttime %> - <%= scheduleItem.endtime %></span>
            </div>
            <div class="schedule__date">
              <span><%= scheduleItem.dayoftheWeek %></span>
            </div>
          </div>
        <% }); %>
      </section>
    </div>
  </main>
</body>

</html>